@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  background-color: #222222;
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}
